@model URLShortener.Models.Entities.URL

<div class="text-center">
    <h1 class="display-4">@Model.FullUrl</h1>
    <p>Short url: @Model.ShortUrl</p>
    <p>Created by: @Model.CreatedBy</p>
    <p>Created date: @Model.CreatedDate</p>
</div>
